*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

.container{
  margin: 0 auto;
}

.col-1, .col-2, .col-3,
.col-4, .col-5, .col-6,
.col-7, .col-8, .col-9,
.col-10, .col-11, .col-12{
  border: 1px #000000 solid;
  height: 150px;
  background-color: #ffafaf;
}

p{
  line-height: 150px;
}

.container .container{
  border: 1px #ffffff solid;
  margin: 0 auto;
  background-color: #ff8f8f;
}
